
html{background:#76AC68;}
body {margin:0;}
#page-wrap {background:#76AC68;}
#container {width:940px; margin: 0 auto}

input[type="text"], input[type="password"]{
	width:300px;
	height:20px; 
	padding:10px; 
	font-size:16px; 
	border:none;
	-moz-box-shadow: 0px 0px 3px #333 inset;
	-webkit-box-shadow: 0px 0px 3px #333 inset;
	box-shadow: 0px 0px 3px #333 inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn {
	text-align:center;
	max-width:300px;
	margin:5px;
	font-family:gotham-medium;
	font-size:20px;
	padding:7px 15px 7px 15px;
	text-decoration:none;
	color:#FFF;
 	background: rgba(52, 82, 45, 0.8);
 	cursor:pointer;
 	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}

.btn:hover{
	background: rgba(52, 82, 45, 1);
}

.mid{
	width:200px;
}

.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}

h1{font-family:gotham-rounded-bold;}
h2, td, p {font-family:gotham-medium;}

#database_info{position:relative; left:100px;}

@font-face {
    font-family: gotham-medium;
    src: url(/res/font/Gotham-Medium.ttf);
}

@font-face {
    font-family: gotham-rounded-bold;
    src: url(/res/font/gotham-rounded-bold.otf);
}


/*Index*/
.splash {width:550px; margin: 0 15px 0px 10px;}
.small {width:100px; height:100px; background-size: 100%; overflow:hidden; margin:3px;}
.panel{position:relative; float:left; display:block; overflow:hidden; background-color:#6DA95F;}
.small img{width:100px; height:auto}
.splash img{width:550px; height:auto;}

#comments_container{width:600px;float:left}

#rating_cloud {float:right; margin-top:30px; width:300px; height:200px; background-repeat:no-repeat; background-image:url("images/lightcloud2.png")}
#rating_cloud table {position:relative; top:30px; left:60px}

#memgr_container{background:#67A358; padding:0 20px 20px 20px; border-radius: 15px; overflow:auto}

#rate_share img{padding-right:5px; cursor:pointer}

/*HEADER*/

#mini_account{
	position:absolute; top:20px; right:100px;
}

a{text-decoration:none; color:#D6EAD0}
a:hover{text-decoration:underline; }

#mini_account p{margin:0px;}

.header_button{
	float:right;
	font-size:16px;
}

#top_nav{position:relative; top:-15px; width:850px; margin:0 auto}
#top_nav div{float:left; margin:5px}

.nav_button {
	font-family:gotham-medium;
	font-size:20px;
	padding:7px 15px 7px 15px;
	color:#D6EAD0;
	/*text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.5);*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
 	-webkit-transition: all 0.5s ease-in-out;
}	
 
.nav_button:hover {
	text-decoration:none;
	color:#FFF;
 	background: rgba(52, 82, 45, 0.9);
 	cursor:pointer;
}

#search {float:left}
.search {position:absolute; left:285px;top:8px; cursor:pointer; height:25px; width:25px}

/*SIGN UP */
#registerform label{background: #34522D; color: white; padding: 5px 7px; position:relative;top:-3px}
#registerform input{display:block;}

/*SIGN IN*/
#loginform label{background: #34522D; color: white; padding: 5px 7px; position:relative;top:-3px}
#loginform input{display:block;}

#loginform #rememberme_label{background:none;color:black;float:left; font-size:20px; padding:5px 7px 5px 0px}
#loginform input[type='checkbox']{float:left;margin-top:7px}


/*MEME UPLOAD*/
#upload_container {
	overflow:auto;
	font: 14px/1.5 helvetica-neue, helvetica, arial, san-serif; 
	margin-top:50px;
	background: #67A358;
	padding: 20px;
}

#preview_list {
	list-style:none;
	margin:0;
	padding:0;
}
#preview_list li {
	overflow:auto;
	background: #6DA95F;
	padding: 10px 0px 20px 10px;
}
#preview_list li img {
	width: 550px;
}

/*Meme upload (Preview)*/
.preview_settings{
	margin:0 25px;
	float:left;
    position:relative;
}


.thumbnail_preview{
	float:left;
    overflow:hidden;
    width:100px;
    height:100px  
}

.thumbnail_preview_text{
	float:left; width:130px; padding:10px
}

.preview_panel input{width:200px}




/*User page*/

.user_panel{min-height:200px; max-height:400px; background-color:#67A358; overflow:hidden;}
.user_panel_item{background-color:#6DA95F; background-size: 100%; height:180px; width:180px;margin:10px 5px 10px 10px; position:relative; float:left; }

.user_panel_img{height:180px; width:180px;}
.user_panel_img:hover{cursor:pointer;}

.darken_hover{height:100%; width:100%;}
.darken_hover:hover{opacity:0.5; background-color:black;}

.rightarrow{height:200px; width:80px; float:right; background-image: url(images/rightarrow.png)}
.rightarrow:hover{background-image: url(images/rightarrow_hover.png); cursor:pointer;}

.leftarrow{height:200px; width:50px; float:left; background-image: url(images/leftarrow.png)}
.leftarrow:hover{background-image: url(images/leftarrow_hover.png); cursor:pointer;}

.visible_panel{overflow:hidden; width:810px;float:left; }
.slider {width:4500px; height:200px; position:relative}

.group_eight {width:780px; float:left}

.rightarrow_large{height:400px; width:80px; float:right; background-image: url(images/rightarrow_large.png)}
.rightarrow_large:hover{background-image: url(images/rightarrow_large_hover.png); cursor:pointer;}

.leftarrow_large{height:400px; width:50px; float:left; background-image: url(images/leftarrow_large.png)}
.leftarrow_large:hover{background-image: url(images/leftarrow_large_hover.png); cursor:pointer;}

/*Generator*/

#generator_panel {float:left; margin-left:20px}
#generator_panel img{width:550px;}

#generator_settings{
	width:320px;	
	margin:0 25px;
	float:left;
    position:relative;}

#generator_settings input{margin:10px 0px 10px}

textarea{display:block; width:300px; height:100px;
	resize:none;
	margin-bottom:20px;
	padding:10px; 
	font-size:16px; 
	border:none;
	-moz-box-shadow: 0px 0px 3px #333 inset;
	-webkit-box-shadow: 0px 0px 3px #333 inset;
	box-shadow: 0px 0px 3px #333 inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#generator_preview, #generator_submit{padding:10px; margin-bottom:20px}    

.tags_container {padding:0px; margin:0px 0px 10px 0px; list-style-type: none; overflow:auto; }
.tags_container h3{padding:0px; margin:0px}


.tags{float:left;
	text-align:center;
	max-width:300px;
	margin:5px;
	font-family:gotham-medium;
	font-size:14px;
	padding:7px 15px 7px 15px;
	text-decoration:none;
	color:#FFF;
 	cursor:pointer;
 	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}

.tags[type='group']{
	background: rgba(52, 82, 45, 0.8);
}

.tags[type='keyword']{
	background: rgba(45, 60, 145, 0.8);
}

.tags[type='group']:hover{
	background: rgba(52, 82, 45, 1);
}

.tags[type='keyword']:hover{
	background: rgba(45, 60, 145, 1);
}

.hover_remove:hover{
	color:#FFF;
 	background: rgba(173, 12, 12, 0.9);
}

#generator_settings label{font-size:16px; font-family:gotham-medium}
#generator_settings label p{font-size:16px;}

/*CREATE GROUP*/

#create_group label{font-size:18px; font-family:gotham-medium}
.hint {font-size:18px; opacity:0.5; display:inline}
#create_group input[type='radio']{margin:10px;}

/*Search*/
#search_table td {font-size:18px;}