
html{background:#76AC68;}
body {margin:0;}
#page-wrap {background:#76AC68;}

#top_nav{position:relative; top:-20px; width:850px; margin:0 auto}
#top_nav div{float:left; margin:5px}

input[type="text"], input[type="password"]{
	width:300px;
	height:20px; 
	padding:10px; 
	font-size:16px; 
	border:none;
	-moz-box-shadow: 0px 0px 3px #333 inset;
	-webkit-box-shadow: 0px 0px 3px #333 inset;
	box-shadow: 0px 0px 3px #333 inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



h2, td, p {font-family:gotham-medium;}

#database_info{position:relative; left:100px;}

@font-face {
    font-family: gotham-medium;
    src: url(/res/font/Gotham-Medium.ttf);
}

.splash {width:510px; height:320px; margin: 0 10px;}
.small {width:100px; height:100px;}
.panel{position:relative; padding:3px; float:left; display:block; overflow:hidden;}
.small img{width:100px; height:auto}
.splash img{width:510px; height:auto;}

#comments_container{width:600px;float:left}

#rating_cloud {float:right; width:300px; height:200px; background-repeat:no-repeat; background-image:url("images/lightcloud.png")}
#rating_cloud table {position:relative; top:30px; left:60px}

#memgr_container{background:#67A358; padding:0 20px 20px 20px; border-radius: 15px; overflow:auto}
#prev_panel{width:100px; position:relative; padding:0 3px; float:left}

#container {width:900px; margin: 0 auto}

.nav_button {
	font-family:gotham-medium;
	font-size:20px;
	padding:7px 15px 7px 15px;
	color:#DDD;
	/*text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.5);*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
 	-webkit-transition: all 0.5s ease-in-out;
}	
 
.nav_button:hover {
	text-decoration:none;
	color:#FFF;
 	background: rgba(52, 82, 45, 0.9);
 	cursor:pointer;
}

.meme_settings{
	margin:0 25px;
	float:left;
    position:relative;
}


.thumbnail_preview{
	float:left;
    overflow:hidden;
    width:100px;
    height:100px  
}

/*SIGN UP */
#registerform label{background: #34522D; color: white; padding: 5px 7px; position:relative;top:-3px}
#registerform input{display:block;}

/*MEME UPLOAD*/
#upload_container {
	width: 300px;
	margin:auto;
	font: 14px/1.5 helvetica-neue, helvetica, arial, san-serif; 
	margin-top:50px;
	background: #67A358;
	padding: 20px;
}

#image-list {
	list-style:none;
	margin:0;
	padding:0;
}
#image-list li {
	background: #fff;
	border: 1px solid #ccc;
	text-align:center;
	padding:20px;
	margin-bottom:19px;
}
#image-list li img {
	width: 258px;
	vertical-align: middle;
	border:1px solid #474747;
}